<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      h1 {
        color: #1f1f1f;
        font-size: 16px;
      }
      p {
        margin-top: 10px;
        font-size: 14px;
      }
      a{
        color: #cb3837;
        font-size: 14px;
        text-decoration: none
      }
    </style>
  </head>
  <body>
    <h1><%= attached.content %></h1>
    <p>Đường liên kết: <a href="<%= attached.link %>">cập nhật mật khẩu</a></p>
  </body>
</html>
